@import url('https://fonts.googleapis.com/css?family=Roboto:900|Rozha+One');
* {margin: 0;padding: 0;border: 0; box-sizing: 0;
}

body {
	font-family:'Rozha One', serif;
	line-height: 1.5;
	
	 /* nice color #c0dec5 */
}

header {
	padding: 2em 0;
	display: block;
	margin: left;
	background-color: #FFF885;
}

.navigation-bar{
	background-size: cover;
  	padding: 1em;
  	margin: auto;
  	width: auto;
  	text-align: center;
  	display:inline-block;
  	vertical-align:top;
}



}

a{
	padding-left: 2em;
	font-family:'Roboto', sans-serif;
	font-size: 18px; 
	text-decoration: none;
	color: white;

}

#second{
 	background:url(../images/ubereats_main_1493714644355.jpg);
 	background-size: cover;
	display: block;
	margin: 0 auto;
	padding: 8em;
	}

h1{
	font-family:'Roboto', sans-serif;
  	text-align: center;
  }

 .titles{
 	font-family: 'Roboto', sans-serif;
	font-weight:900;
 	color: white;
 }
 	

h2{
	font-family: 'Roboto', sans-serif;
	font-weight:900;
 	color: white;

 	}


hr{
  width:200px;
}

p {
	font-family: Helvetica;
	margin: 2em 0;
	padding: 0;
  color: black;
}

/*nav {
	font-size: 1.8em;
 	float: right;

} 
*/
/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}

nav a {
	background-color: none;
	color: white;
	padding-right: 2em;
	margin: 1.5em;
  display: inline-block;
  float: right;

}


#intro {
	background-color:black;
	padding: 1em;
	color: white;
}


#intro p{
  color: white;
}

/*#options{
	background:url(../images/options.jpg);
	display: block;
	size: center;

}*/

.clearfix:after {
  display: block;
  content: ".";
  font-size: 0;
  clear: both;
  height: 0;
  visibility: hidden;
}


#box {
  float: left;
  height: 100px;
  width: 48%;
  margin: 1%;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  display: block;
}

#box img {
  float: left;
  border-bottom: 2em solid #fff;
  width: 50%;
  height: 25%;
  text-align: center;
  line-height: 6em; 
  background: #c0dec5;

}


#box p {
  float: right;
  color: white;
}



#choose{
  float: left;
  width: 50%;
  height: 6em;
  text-align: center;
  line-height: 6em; 
  background: #c0dec5;
  display: inline-block;

}


#contact {
  color: #FFF885;
  margin: 0 auto;
  align-content: left;
  display: block;
  clear: both;
  text-align: center;
}

#contact a{
  color: black;
  text-decoration: none;
  font-family: 'Roboto';
  padding-right: 3em;
  text-align: center;

}



footer {
  font-family:'Roboto', sans-serif, black; 
  text-align: center;
  padding: 1em 0;
  clear: both;
  display: block;

  }

@media only screen and (max-width: 768px) {
body{font-size: 24px

	}
}
