@import url('https://fonts.googleapis.com/css?family=Roboto:900|Rozha+One');
body {
	font-family:'Rozha One', serif;
	font-size: 18px;
	line-height: 1.5;
	
	 /* nice color #c0dec5 */
}
header {
	background:url(../images/ubereats_main_1493714644355.jpg);
	background-size: cover;
	padding: 100px 0;
}

#second{
	background-color: blue;	
}

h1{
	font-family:'Roboto', sans-serif;
  	text-align: center;
  }

 .titles{
 	font-family: 'Roboto', sans-serif;
	font-weight:900;
 	color: white;
 }
 	

h2{
	font-family: 'Roboto', sans-serif;
	font-weight:900;
 	color: white;

 	}


hr{
  width:200px;
}
p {
	margin: 2em 0;
	padding: 0auto;
}
nav a {color: white;}

#intro {
	background-color:black;
	padding: 10px;
	color: white;
}

display{
	inline-block

}

footer {
  text-align: center;
  padding: 1em 0;
}