@import url('https://fonts.googleapis.com/css?family=Roboto:900|Rozha+One');
body {
	font-family:'Rozha One', serif;
	font-size: 18px;
	line-height: 1.5;
	background:url(../images/ubereats_main_1493714644355.jpg);
}
h1{
	font-family:'Roboto', sans-serif;
  	text-align: center;
  }

 .titles{
 	font-family: 'Roboto', sans-serif;
	font-weight:900;
 	color: red;
 }

hr{
  width:200px;
}
p {
	margin: 2em 0;
}
nav a {color: red;}
