@import url('https://fonts.googleapis.com/css?family=Roboto:900|Rozha+One');
body {
  text-align: center;
  background: url("https://i.gadgets360cdn.com/large/ubereats_main_1493714644355.jpg?output-quality=80");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
  }
h1{
	font-family:'Roboto', sans-serif;;
  	text-align: center;
  }

 .titles{
 	font-style: italic;
 	color: red;
 }

hr{
  width:200px;
}
p {
	font-family:'Rozha One', serif;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
}
  font-size: 22px;
}
#link{color: red}